@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background: url(./Images/handmadepaper.png) repeat;
}

body {
    min-height: 100vh;
}

#root, html, body {
    background-color: #54085E;
}